@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,500&display=swap");
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  /* font-family: Roboto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Topbar {
  width: calc(100% - 240px);

  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
.half {
  width: calc(100% - 240px);
}
.full {
  width: 100%;
}
.show {
  /* transition: all 1s ease-in-out; */
  transform: translateX(0);
}
.hide {
  /* width: 0; */
  position: absolute;
  transition: position 1s ease-in-out;
  transform: translateX(-700px);
}

.Sidebar {
  height: calc(100vh - 64px);
  /* height: 100vh; */
}
.Righ_Content {
  width: calc(100% - 240px);
  height: calc(100vh - 64px);
  overflow: scroll;
}
.hideside {
  width: calc(100% - 80px);
}

.Custom_height {
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  /* width: 180px; */
}
.css-1nslmh4-MuiTableCell-root {
  background-color: #f9f9fb !important;
  color: black !important;
}
.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head {
  background-color: #f9f9fb !important;
  color: black !important;
}

.filter {
  border: 1px solid #341e9d;
  border-radius: 40px;
  display: flex;
  height: 55px;
  justify-content: center;
  width: 120px;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}
.newList {
  align-items: center;
  background: #341e9d;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 59px;
  justify-content: center;
  cursor: pointer;

  width: 190px;
  color: white;
}
.withdraw {
  align-items: center;
  background: #341e9d;
  border-radius: 40px;
  display: flex;
  height: 59px;
  justify-content: center;
  color: white;
  gap: 10px;
  width: 249px;
}

.Update_photo {
  border: 1px solid #341e9d;
  border-radius: 40px;
  display: flex;
  height: 55px;
  justify-content: center;
  width: 240px;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}
.save {
  align-items: center;
  background: #341e9d;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 59px;
  justify-content: center;
  cursor: pointer;

  width: 190px;
  color: white;
}
.cancel {
  border: 1px solid #341e9d;
  border-radius: 40px;
  display: flex;
  color: #341e9d;
  font-weight: 500;
  height: 55px;
  justify-content: center;
  width: 190px;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .icon {
    position: absolute;
    transition: position 1s ease-in-out;
    transform: translateX(-700px);
  }
  .menu_show {
    display: block;
  }
  .Sidebar {
  }

  .Righ_Content {
    width: 100%;
  }
}
